<tr class="first-half">
  <td><input type="text" name="name"    ></input></td>
  <td><input type="text" name="position"></input></td>
  <td><input type="text" name="minutes" ></input></td>
  <td><input type="text" name="score"   ></input></td>
  <td><input type="text" name="tags"    ></input></td>
  <td><input type="text" name="popped"  ></input></td>
  <td><input type="text" name="grabs"   ></input></td>
  <td><input type="text" name="drops"   ></input></td>
  <td><input type="text" name="captures"></input></td>
  <td><input type="text" name="returns" ></input></td>
  <td><input type="text" name="support" ></input></td>
  <td><input type="text" name="posneg"  ></input></td>
</tr>
<tr class="second-half">
  <td><input type="text" name="name"    style="display:none"></input></td>
  <td><input type="text" name="position"></input></td>
  <td><input type="text" name="minutes" ></input></td>
  <td><input type="text" name="score"   ></input></td>
  <td><input type="text" name="tags"    ></input></td>
  <td><input type="text" name="popped"  ></input></td>
  <td><input type="text" name="grabs"   ></input></td>
  <td><input type="text" name="drops"   ></input></td>
  <td><input type="text" name="captures"></input></td>
  <td><input type="text" name="returns" ></input></td>
  <td><input type="text" name="support" ></input></td>
  <td><input type="text" name="posneg"  ></input></td>
</tr>
